body{ 
    background-color:#F5F6F7;
}

.logo{
  
    margin-top: 70px;
   
}
.container {
    text-align: center;
}

.search{
    width: 500px;
    height: 30px;
    font-size: 16px;
    
    margin-top: 15px;
  }
  .bar {
      width : 500px;
      margin:  0 auto;
  }
 
  
 #login{

    width: 509px;
    height: 40px;
    margin-top: 15px;
    border: none;
    background-color: #00c03c;
    color: white;
    font-size: 16px;
    margin-top: 5px;
}


